doctype html
html(lang="zh-tw")
  head
    title Apric|亚太轨道创新联盟
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet' href='./assets/css/vendor/base-min.css')
    link(rel='stylesheet' href='./assets/css/vendor/pure-min.css')
    link(rel='stylesheet' href='./assets/css/vendor/grids-responsive-min.css')
    link(rel='stylesheet' href='./assets/css/vendor/jquery.fancybox.min.css')
    link(rel='stylesheet' href='./assets/css/main.css')
  
  body
    .layout
      block content
  script(src="./assets/js/jquery.min.js")
  script(src="./assets/js/jquery.fancybox.min.js")
  script(src="./assets/js/main.js")