.bg-ctr
    .wrap
        .about.pure-g
            .about__left.pure-u-1
                .title
                    h2 1st APRIC Rail Innova@on Awards, 2020
            .about__right.pure-u-1
                .container
                    p APRIC will proudly organize the 1st APRIC Rail Innovation Awards in 2020. APRIC is initiated as a platform to promote, advocate and recognize innovation in the railway industry. These Awards aim at:
                    ul
                        li To make technological innovations relating to the railway industry visible
                        li To recognize those contributing to innovations
                        li To announce and measure the benefits cultivated by such innovations
                        li To help evaluate the sophistication of technological innovations relating to the railway sector
                        li To foster collaboration in the Asia-Pacific region towards the landing of innovations
                        li To construct a solid network in the advocacy of innovations
        .pure-g
            .decoline.tall.pure-u-1.pure-u-md-3-4
            .decoline.height.pure-u-1.pure-u-md-3-4

        .alliance
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Target
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        h5.item-subtitle The APRIC Rail Innovation Awards fit the following groups of participants:
                        ul
                            li Current APRIC members
                            li Potential APRIC members
                            li Railway policy and planners
                            li Technology owners, enterprises and organizations
                            li Railway technology adopters
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Category
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        h5.item-subtitle The 1st APRIC Rail Innovation Awards will be presented in the following categories:
                        img.pure-img(src="./assets/img/every-award_eng.png", alt="")
                        p The number of Awards to be presented in each category is to be decided by the Jury Panel Committee, and be validated by the APRIC Executive Committee.
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Awards Entry and Nomination
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        h5.item-subtitle Participation is by nomination only:
                        ul
                            li The proposers are opened to all, either APRIC members and non-members.
                            li The nominees can be current APRIC members and non-members.
                            li There are no limits on the number of nomination by any proposers.
                            li 提名人递交之提名项目数目没有上限。
                            li The nomination must be submitted through email to APRIC Secretariat（
                                a(href='mailto:secretariat@apric.org' target='_self' data-content='secretariat@apric.org' data-type='mail') secretariat@apric.org
                                | ）.
                            li The Nomination Form is
                                a(href="./assets/doc/1st ARIA_Nomination Form.docx" target="_blank" data-type="document") downloadable here
                                |.
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Selection Criteria
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        img.pure-img.pie(src="./assets/img/pie_eng.png", alt="")
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Jury Panel Committee
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        ul
                            li To be announced.
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Benefits for winners
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        h5.item-subtitle The winning innovations receive the following recognition:
                        ul
                            li Receiving the highest-level recognition in the railway sector within Asia-Pacific
                            li Announcement at APRIC website, and social media exposure
                            li Lined-up interviews opportunities with local and regional media, trade media
                            li Opportunities to showcase the winning innovations at APRIC events
                            li Opportunities to present the winning innovations at APRIC members’ events
                            li Entitlement to display the APRIC Awards’ logo on the winners’ printer matters, press materials, advertisements, and other promotional materials
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Key Dates
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        ul
                            li To be announced.
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Supporting Organizations
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        ul
                            li To be announced.