.bg-ctr
    .wrap
        .about.pure-g
            .about__left.pure-u-1
                .title
                    h2 APRIC Study Tours and Innovation Dialogues,2020
        .pure-g
            .decoline.tall.pure-u-1.pure-u-md-3-4
            .decoline.height.pure-u-1.pure-u-md-3-4

        .alliance
           
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Location
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        p Various, cities in Asia-Pacific that offers high potential of technological innovation adoption in the railway sector, including Beijing, Chengdu, Singapore, Kuala Lumpur, and others.
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Objectives
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        p Study Tours and Innovation Dialogues are catered for APRIC members to exchange and present ideas and prototypes of technological innovations with transport and railway authorities, railway operators, scientists, engineers, policy planners, and advocates. Members are guaranteed to have very high-level exchanges and presentations with critical decision makers.
            .pure-g
                .pure-u-1.pure-u-lg-1-4
                    h3.item-title Date, Schedule and Details
                .pure-u-1.pure-u-lg-3-4
                    .item-content
                        p Please contact APRIC Secretariat
                            a(href='mailto:secretariat@apric.org' target='_self' data-content='secretariat@apric.org' data-type='mail') secretariat@apric.org
            