.bg-ctr
    .wrap
        .about.pure-g
            .about__left.pure-u-1
                .title
                    h2 第一届APRIC轨道创新大奖 ｜ 2020
            .about__right.pure-u-1
                .container
                    p APRIC 于2020年首办「第一届APRIC轨道创新大奖」，提供有效平台，推广与肯定对轨道产业有正面影响力的创新技术。
                    p 目的：
                    ul
                        li 推动轨道创新技术更为大众认识
                        li 肯定对轨道产业有贡献之创新技术
                        li 量化轨道创新技术之创新水平
                        li 评估创新技术对轨道产业之独特性
                        li 促进亚太地区采用轨道创新技术
                        li 长远打造先进轨道科技交流合作平台
        .pure-g
            .decoline.tall.pure-u-1.pure-u-md-3-4
            .decoline.height.pure-u-1.pure-u-md-3-4

        .alliance
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 目的
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        h5.item-subtitle APRIC轨道创新大奖适合以下界别参与：
                        ul
                            li APRIC会员
                            li 有兴趣加入APRIC成为会员者
                            li 轨道交通产业政策与规划者
                            li 轨道交通技术公司、机构、知识产权持有者
                            li 采纳轨道交通创新技术者
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 大奖类别
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        h5.item-subtitle 「第一届APRIC轨道创新大奖」设置以下类别：
                        img.pure-img(src="./assets/img/every-award.png", alt="")
                        p 实际颁发奖项数目由评选委员会决定，经由APRIC行政委员会核实。
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 参与提名
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        h5.item-subtitle 大奖只接受提名参与：
                        ul
                            li 提名人可为现行APRIC会员或非会员。
                            li 被提名之项目机构可为现行APRIC会员或非会员。
                            li 提名人递交之提名项目数目没有上限。
                            li 提名必须以电邮方式，透过APRIC秘书处递交（
                                a(href='mailto:secretariat@apric.org' target='_self' data-content='secretariat@apric.org' data-type='mail') secretariat@apric.org
                                | ）。
                            li 提名表格可在此
                                a(href="./assets/doc/1st ARIA_Nomination Form.docx" target="_blank" data-type="document") 下载
                                |。
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 评选准则
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        img.pure-img.pie(src="./assets/img/pie.png", alt="")
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 评选委员会
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        ul
                            li 即将公布。
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 获奖者得益
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        h5.item-subtitle 优胜之创新技术：
                        ul
                            li 得到亚太地区轨道交通业界最高肯定
                            li APRIC网站及社交平台公布与曝光机会
                            li 本地、区域与业界媒体平台的访问与曝光机会
                            li APRIC其他活动的曝光与深度参与
                            li APRIC会员的活动中曝光与技术交流
                            li 在其印刷品、媒体材料、广告、与其他宣传品中享有使用APRIC轨道创新大奖商标之机会
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 重要日期
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        ul
                            li 即将公布。
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 支持单位
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        ul
                            li 即将公布。