.bg-ctr
    .wrap
        .about.pure-g
            .about__left.pure-u-1
                .title
                    h2 「亚太轨道创新联盟」APRIC交流会暨考察团 | 2020
        .pure-g
            .decoline.tall.pure-u-1.pure-u-md-3-4
            .decoline.height.pure-u-1.pure-u-md-3-4

        .alliance
           
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 地点
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        p 于亚太地区不同城市主办，包括北京、成都、新加坡、吉隆坡等，促进最高层次的轨道科技交流，致力落实技术采用。
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 目标
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        p 交流会暨考察团目的，为使APRIC会员与各地重要人员交流，包括交通及轨道政府单位、轨道经营单位、科学家与工程师、政策规划人员、以及创新促进人员等；让有潜力而实用的科技，开拓实证计划。APRIC成语透过联盟平台，获得与高阶领导的交流机会。
            .pure-g
                .pure-u-1.pure-u-lg-1-5
                    h3.item-title 日期、日程与详情
                .pure-u-1.pure-u-lg-4-5
                    .item-content
                        p 请联系APRIC秘书处
                            a(href='mailto:secretariat@apric.org' target='_self' data-content='secretariat@apric.org' data-type='mail') secretariat@apric.org
            