.bg-ctr
    .wrap
        .about.pure-g
            .about__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 About
            .about__right.pure-u-1.pure-u-lg-20-24
                .container
                    p Innovation is the key to advance urban railway development in Asia-Pacific. The Asia-Pacific Rail Innovation Collaboration (APRIC) is a collaboration platform linking the group of experts in the railway industry.
                    ul
                        li APRIC stimulates the needs to innovate by proofing the benefits of adopting better innovative technologies.
                        li APRIC advances the speed of technology landing through identification of applicable test-beds for prototyping.
                        li APRIC gathers empirical data to improve the fitting of the solutions to the urban railway sector.
                        li APRIC seeks performing and efficient integration of solutions from the planning, system design, construction, operating, maintenance, through to the stage of asset management.
                        li APRIC connects experts in the urban railway sector within Asia-Pacific region to prepare the best-available solutions for the future.
                        li APRIC fosters G2G (government-to-government), G2E (government-to-enterprise), and E2E (enterprise-to-enterprise) collaboration.
                    p APRIC works in the bounds of research, testing, prototyping, technology transfer, and commercialization for innovative technologies that will make urban railway safer, more efficient to commuters and the environment, and offering more satisfying riding experience.
        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        
        .president.pure-g
            .title.pure-u-1
                h2 Message from Co-Chairs
            .president__content.pure-u-1.pure-u-md-1-2
                img(src="./assets/img/Azmi_Aziz.png", alt="联席主席").content_img 
                .name Azmi Aziz
                .text
                    p Welcome to the first edition of Asia Pacific Rail Innovation Collaboration (APRIC) news updates to all members of the public. It is an exciting time for all of us at APRIC to begin a new journey of creating a teamwork of enthusiastic professionals in the railway industry to venture into the dimension of innovations with the focus to help improve the efficiency of the industry that will benefit all stakeholders such as the railway operators, OEMs, research institutes, universities and the public at large.
                    br
                    p We are equally excited of this journey because we believe this effort will be able to bring all levels of cooperation and collaborations of various parties to share each and everyone’s experiences to enhance the opportunities that lies within the railway industry. On this note, we wish to inform that one of APRIC focus areas would be the region of South East Asia where vast opportunities await the railway connectivity into China as part of the Pan Asia Railway network.
                    br
                    p We hope to be able to provide sufficient opportunities to all interested parties to pledge their support by joining APRIC as a member at the corporate or individual level. We are sure of sharing this exciting ties with as many members as possible.
            .president__content.pure-u-1.pure-u-md-1-2
                img(src="./assets/img/ChangSaoHua.png", alt="联席主席").content_img 
                .name Morris Cheung
                .text
                    p It is time to grasp the opportunities.
                    br
                    p Traditionally, railway is an industry not in the forefront in adopting new technologies.  This situation is changing. With the advancement of Internet of Things (IoT), 5G, sensor technologies, cloud computing, AI, big data, robotic, etc. the railway industry is gaining momentum and increasing interest in the adoption of new technologies in order to enhance safety and equipment reliability and increase cost efficiency. With the development of eco-system nurturing innovation and start-up, application of new technology in railway industry is blooming.
                    br
                    P There is an urban boom which happens mainly in Asia Pacific.  Roughly the current 4 billion people living in urban areas will reach 6 billion in 2050.  In parallel to the urban boom is the rapid development of mass transit systems in the Asia-Pacific region.
                    br
                    P We believe it is time to grasp this golden opportunity. The goal of APRIC is to gather participants in the industry and in the region in order to speed up the change for the benefits of travelling communities.
        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4

        .committee.pure-g
            .committee__left.pure-u-1.pure-u-lg-5-24
                .title
                    h2 Executive<br>Committee
            .committee__right.pure-u-1.pure-u-lg-19-24
                .pure-g
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-1.png' data-fancybox='images' data-caption='<b>CEO of YTL THP JV Sdn Bhd Former President & Group CEO of Prasarana Former Chief Development Officer of the Land Public Transport Commission (SPAD)</b>Co-Chairman | Azmi Aziz')
                            img(src="./assets/img/member-1.png", alt="").member_img
                            .member_text Co-Chairman<br><b>Azmi Aziz</b>
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-2.png' data-fancybox='images' data-caption='<b>Vice-Chairman of KDL Group Member of PRC Yunnan Province Political Consultative Conference Honorary President of the Association of the HK Railway Transport Professional Vice-Chairman of Connected City Alliance Premier President of MTR Academy Former Executive Directorate of MTR Corporation</b>Co-Chairman | Morris Cheung')
                            img(src="./assets/img/member-2.png", alt="").member_img
                            .member_text Co-Chairman<br><b>Morris Cheung</b>
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-3.png' data-fancybox='images' data-caption='<b>Regional Director of Asia-Pacific of OmniaServices Director of China-Italy Innovation Center Former Head of Business Development (China & International) at Hong Kong Science & Technology Parks</b>Secretary General | Dawn Chui')
                            img(src="./assets/img/member-3.png", alt="").member_img
                            .member_text Secretary General<br><b>Dawn Chui</b>
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-4.png' data-fancybox='images' data-caption='<b>Founder Director of Women in Rail Malaysia Stakeholder Director at YTL Malaysia Former Executive VP in the President & Group CEO Office of Prasarana</b>Committee Member | Natasha Zulfikli')
                            img(src="./assets/img/member-4.png", alt="").member_img
                            .member_text Committee Member<br><b>Natasha Zulfikli</b>
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-5.png' data-fancybox='images' data-caption='<b>Co-Founder and President of KeySense Testing & Certification International Former Commercial Director at Huawei and ZTE “Distinguished Leader of Huizhou City”</b>Committee Member | Tony Xu')
                            img(src="./assets/img/member-5.png", alt="").member_img
                            .member_text Committee Member<br><b>Tony Xu</b>
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-6.png' data-fancybox='images' data-caption='<b>Co-Founder and CFO of KeySense Testing & Certification International Former executive at Huizhou City Government</b>Committee Member & Honorary Treasurer | Luis Lin')
                            img(src="./assets/img/member-6.png", alt="").member_img
                            .member_text Committee Member & Honorary Treasurer<br><b>Luis Lin</b>
        
    .innovation.pure-g
        .innovation_block.pure-u-1.pure-u-md-1-4
            .block_title.huge
                h1 Innovation Showcase
        .innovation_block.block-1.pure-u-1.pure-u-md-1-4
            .block_title 
                h1 Policy & Planning
        .innovation_block.block-2.pure-u-1.pure-u-md-1-4
            .block_title 
                h1 Vehicles components & systems
        .innovation_block.block-3.pure-u-1.pure-u-md-1-4
            .block_title.overlay-p
                h1 Maintenance

        .innovation_block.block-4.pure-u-1.pure-u-md-2-5
            .block_title.overlay-p 
                h1 Infrastructure & construction
        .innovation_block.block-5.pure-u-1.pure-u-md-1-5
            .block_title.overlay-s 
                h1 Energy & power
        .innovation_block.block-6.pure-u-1.pure-u-md-1-5
            .block_title 
                h1 ITS & data
        .innovation_block.block-7.pure-u-1.pure-u-md-1-5
            .block_title.overlay-p 
                h1 Interiors & materials

        .innovation_block.block-7.pure-u-1.pure-u-md-1-4
            .block_title 
                h1 Air quality  & ventilation
        .innovation_block.block-9.pure-u-1.pure-u-md-1-2
            .block_title 
                h1 Ticket & payment
        .innovation_block.block-10.pure-u-1.pure-u-md-1-4
            .block_title.overlay-s 
                h1 Safety
.bg-ctr.darken
    .wrap
        .activity
            .title
                h2 Events
            .activity__content
                .event_now.pure-g.border-btm
                    .subtitle.pure-u-1.pure-u-md-1-4
                        h3 2020 Events
                    .container.pure-u-1.pure-u-md-3-4
                        .event.border-btm
                            .event_title.pure-g
                                a.pure-u-1.pure-u-md-21-24 1st APRIC Rail Innovation Awards | 2020
                                span.pure-u-1.pure-u-md-3-24 
                                    a(href='alliance_eng.html').more More
                        .event
                            .event_title.pure-g
                                a.pure-u-1.pure-u-md-21-24  Study Tours and Innovation Dialogues | 2020
                                span.pure-u-1.pure-u-md-3-24 
                                    a(href='alliance1_eng.html').more More
                .event_pass.pure-g
                    .subtitle.pure-u-1.pure-u-md-1-4 
                        h3 Past Event
                    .container.pure-u-1.pure-u-md-3-4
                        .event
                            .event_title
                                a APRIC Rail Innovation Dialogue, Shenzhen, China, 18-19 November｜ 2019
.bg-ctr   
    .wrap
        .else_service
            .title
                h2 Other Services
            .container.pure-g
                .subtitle.pure-u-1.pure-u-md-1-3
                    h2 Request for speakers
                .subtitle.pure-u-1.pure-u-md-1-3
                    h2 Request for advisors
                .subtitle.pure-u-1.pure-u-md-1-3
                    h2 Request for strategic partnership
.bg-ctr.darken
    .wrap
        .contact.pure-g
            .contact__left.pure-u-1.pure-u-md-1-2
                .title
                    h2 Contact us
                .text
                    p Secretariat Address
                    p 25th Floor, ADP Pentagon Centre, 98 Texaco Road, Tsuen Wan, Hong Kong
                    br
                    p Email
                    a(data-auto-recognition='true' data-content='secretariat@apric.org' href='mailto:secretariat@apric.org' data-type='mail') secretariat@apric.org

            .contact_right.pure-u-1.pure-u-md-1-2
                form.pure-form.pure-form-stacked 
                    input.inputbox#name(type='text' placeholder='Name')
                    input.inputbox#email(type='email' placeholder='Email')
                    textarea.textbox#msg(placeholder='Message' rows="4" cols="100")
                    button.pure-button.pure-button-primary(type='submit') submit
