.bg-ctr
    .wrap
        .about.pure-g
            .about__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 关于我们
            .about__right.pure-u-1.pure-u-lg-20-24
                .container
                    p 创新是推动城轨发展的唯一动力。「亚太轨道创新联盟」（以下简称“联盟”）是连接轨道行业专家的协作平台。
                    ul
                        li 联盟通过实践创新技术驱动城轨更佳表现，致力刺激对创新技术的需求。
                        li 联盟寻找适合测试创新技术的平台，加快创新技术商业落地的速度。
                        li 联盟收集实证数据，改善城轨创新技术方向的适应性。
                        li 联盟从城轨项目的规划、设计、建造、运营、维保、到资产管理，寻求更有绩效的集成方案。
                        li 联盟联系亚太地区的城轨专才，共同缔造未来的最佳解决方案。
                        li 联盟促进G2G（政府与政府）、G2E（政府与企业）、E2E（企业与企业）之间的创新技术合作。
                    p 「亚太轨道创新联盟」为优良的创新技术项目，提供调研、测试、原型建立、技术转移、商业落地的协作环境，为出行者与环境建造更满意的出行体验。
        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        
        .president.pure-g
            .title.pure-u-1
                h2 联席主席的话
            .president__content.pure-u-1.pure-u-md-1-2
                img(src="./assets/img/Azmi_Aziz.png", alt="联席主席").content_img 
                .name Azmi Aziz
                .text
                    p APRIC「亚太轨道创新联盟」的创立象征着一个新旅程的启动。轨道是一个专业。我们的专业需要大家携手同行，才可让各项创新融入行业中，为各个持份者提升轨道的表现与效率，包括运营单位、生产商、调研机构、院校，以及大众市民。
                    br
                    p 作为发起人，我们跟大家一样兴奋。联盟是为了缔造各界合作而诞生的。我们希望每一位行业的专家、每一家希望城市轨道行业蓬勃发展的企业，联合起来，共同让创新的机遇融入轨道产业的每一个环节。未来，我们其中一个重点工作计划，就是连接中国与东南亚国家的泛亚轨道网络。这些项目最能透过创新技术为行业带来发展机会。
                    br
                    p 欢迎各专家企业加入APRIC「亚太轨道创新联盟」成为机构会员或个人会员。契机在前，协同发展，共存共荣！
            .president__content.pure-u-1.pure-u-md-1-2
                img(src="./assets/img/ChangSaoHua.png", alt="联席主席").content_img 
                .name 张少华
                .text
                    p 把握创新为轨道行业带来的发展机遇！
                    br
                    P 一直以来，轨道交通与尖端科技是平衡发展的双刃，唯其如此，此情况正在悄悄改变。
                    br
                    P 随着物联网、5G、传感器、云端计算、人工智能、大数据、机器人等高端科技的急速发展，轨道交通行业为了达致更安全、更可靠、更具有成本效益的优势，对各种创新技术的需求大大提高。
                    br
                    P 在另一端，创新技术的生态系统，沿着初创企业、中小企业、政产学研等合作，稳健地成为轨道交通行业迈向创新领域的基底。
                    br
                    P 亚太地区正是孕育轨道行业应用创新科技的最佳平台。到2050年，城市人口将从现在的40亿增加至60亿，城市出行最可靠的模式正是轨道交通。
                    br
                    p 现在，正是我们行动的时候，正是大家把握发展时机的黄金时代。
                    br
                    p APRIC「亚太轨道创新联盟」召集各国轨道行业的专家，透过落实创新科技，为城市出行者打造最大裨益。
        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4

        .committee.pure-g
            .committee__left.pure-u-1.pure-u-lg-5-24
                .title
                    h2 行政委员会<br>成员
            .committee__right.pure-u-1.pure-u-lg-19-24
                .pure-g
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-1.png' data-fancybox='images' data-caption='<b>马来西亚YTL轨道部执行长｜马来西亚铁路公司Prasarana｜前任集团主席与执行长｜马来西亚陆路交通局SPAD｜前任总发展长</b>联席主席 | Azmi Aziz')
                            img(src="./assets/img/member-1.png", alt="").member_img
                            .member_text 联席主席 | Azmi Aziz
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-2.png' data-fancybox='images' data-caption='<b>十方集团副主席｜中国云南省政协委员｜香港铁路人员协会荣誉主席｜物联网智慧城市联盟副主席｜港铁学院创始任校长｜香港铁路公司前任行政总监</b>联席主席 | 张少华')
                            img(src="./assets/img/member-2.png", alt="").member_img
                            .member_text 联席主席 | 张少华
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-3.png' data-fancybox='images' data-caption='<b>中意创新中心总监｜香港科技园前任中国与国际发展部总监</b>秘书长 | 徐丽明')
                            img(src="./assets/img/member-3.png", alt="").member_img
                            .member_text 秘书长 | 徐丽明
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-4.png' data-fancybox='images' data-caption='<b>Women in Rail 马来西亚创始人｜马来西亚YTL集团持份者总监｜前任马来西亚Prasarana公司之主席暨集团首席执行官办公室行政副主席</b>委员 | Natasha Zulfikli')
                            img(src="./assets/img/member-4.png", alt="").member_img
                            .member_text 委员 | Natasha Zulfikli
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-5.png' data-fancybox='images' data-caption='<b>恺信国际检测公司 联合始创人与董事长｜前任华为、中兴高管｜惠州天鹅计划领军人才奖</b>委员 | 徐新')
                            img(src="./assets/img/member-5.png", alt="").member_img
                            .member_text 委员 | 徐新
                    .member.pure-u-1-2.pure-u-md-1-3
                        a.container(href='./assets/img/member-6.png' data-fancybox='images' data-caption='<b>恺信国际检测公司 联合始创人与副总经理｜前任惠州市政府人员</b>委员及财务秘书 | 林雄辉')
                            img(src="./assets/img/member-6.png", alt="").member_img
                            .member_text 委员及财务秘书 | 林雄辉
        
    .innovation.pure-g
        .innovation_block.pure-u-1.pure-u-md-1-4
            .block_title.huge 
                h1 创新展示
        .innovation_block.block-1.pure-u-1.pure-u-md-1-4
            .block_title 
                h1 政策与规划
        .innovation_block.block-2.pure-u-1.pure-u-md-1-4
            .block_title 
                h1 车辆零部件和系统
        .innovation_block.block-3.pure-u-1.pure-u-md-1-4
            .block_title.overlay-p 
                h1 维护

        .innovation_block.block-4.pure-u-1.pure-u-md-2-5
            .block_title.overlay-p 
                h1 基础建设与建造
        .innovation_block.block-5.pure-u-1.pure-u-md-1-5
            .block_title.overlay-s 
                h1 能源电力
        .innovation_block.block-6.pure-u-1.pure-u-md-1-5
            .block_title 
                h1 信息技术系统与数据
        .innovation_block.block-7.pure-u-1.pure-u-md-1-5
            .block_title.overlay-p 
                h1 内修与材料

        .innovation_block.block-7.pure-u-1.pure-u-md-1-4
            .block_title 
                h1 空气品质与通风
        .innovation_block.block-9.pure-u-1.pure-u-md-1-2
            .block_title 
                h1 票务系统与付费
        .innovation_block.block-10.pure-u-1.pure-u-md-1-4
            .block_title.overlay-s 
                h1  安全系统
.bg-ctr.darken
    .wrap
        .activity
            .title
                h2 联盟活动
            .activity__content
                .event_now.pure-g.border-btm
                    .subtitle.pure-u-1.pure-u-md-1-4
                        h3 2020活动
                    .container.pure-u-1.pure-u-md-3-4
                        .event.border-btm
                            .event_title.pure-g
                                a.pure-u-1.pure-u-md-21-24 第一届APRIC轨道创新大奖｜2020
                                span.pure-u-1.pure-u-md-3-24 
                                    a(href='alliance.html').more 更多
                        .event
                            .event_title.pure-g
                                a.pure-u-1.pure-u-md-21-24  APRIC 轨道创新交流会暨考察团｜2020
                                span.pure-u-1.pure-u-md-3-24 
                                    a(href='alliance1.html').more 更多
                .event_pass.pure-g
                    .subtitle.pure-u-1.pure-u-md-1-4 
                        h3 过去活动
                    .container.pure-u-1.pure-u-md-3-4
                        .event
                            .event_title
                                a APRIC轨道创新交流会｜中国深圳｜2019年11月18-19日
.bg-ctr   
    .wrap
        .else_service
            .title
                h2 其他服务
            .container.pure-g
                .subtitle.pure-u-1.pure-u-md-1-3
                    h2 征求演讲嘉宾
                .subtitle.pure-u-1.pure-u-md-1-3
                    h2 征求咨询顾问
                .subtitle.pure-u-1.pure-u-md-1-3
                    h2 征求策略合作
.bg-ctr.darken
    .wrap
        .contact.pure-g
            .contact__left.pure-u-1.pure-u-md-1-2
                .title
                    h2 联系我们
                .text
                    p 秘书处地址
                    p 香港荃湾德士古道 98 号五方集团中心 25 楼
                    br
                    p 电邮
                    a(data-auto-recognition='true' data-content='secretariat@apric.org' href='mailto:secretariat@apric.org' data-type='mail') secretariat@apric.org

            .contact_right.pure-u-1.pure-u-md-1-2
                form.pure-form.pure-form-stacked 
                    input.inputbox#name(type='text' placeholder='名字')
                    input.inputbox#email(type='email' placeholder='电邮')
                    textarea.textbox#msg(placeholder='讯息' rows="4" cols="100")
                    button.pure-button.pure-button-primary(type='submit') 递交
