<iframe src="baidu_map.html"  frameborder="0"  width="100%"  height="300"></iframe>
.bg-ctr
    .wrap
        .footer.pure-g
            .footer__left.pure-u-1.pure-u-md-1-2
                .text
                    p 
                        b 「亚太轨道创新联盟」联系秘书处地址
                    p 香港荃湾德士古道 98 号五方集团中心 25 楼
                    br
                    p 电邮
                    a(data-auto-recognition='true' data-content='secretariat@apric.org' href='mailto:secretariat@apric.org' data-type='mail') secretariat@apric.org
            .footer__right.pure-u-1.pure-u-md-1-4
                p
                    a.social Twitter
                    a.social Facebook
                    a.social YouTube
                    a.social Instagram
            .footer__right.pure-u-1.pure-u-md-1-4
                p © 2023 by CA Workers Party﻿. Proudly created

a.gotoheader
    img.pure-img(src="./assets/img/chevron-up-outline.svg", alt="")