<iframe src="baidu_map.html"  frameborder="0"  width="100%"  height="300"></iframe>
.bg-ctr
    .wrap
        .footer.pure-g
            .footer__left.pure-u-1.pure-u-md-1-4
                .text
                    p 
                        b 「Asia-Pacific Rail<br>Innovation Collaboration
            .footer__left.pure-u-1.pure-u-md-1-4
                .text
                    p Secretariat Address
                    p 
                        b 25th Floor, ADP Pentagon Centre, 98 Texaco Road,<br>Tsuen Wan, Hong Kong
                    br
                    p Emai
                    a(data-auto-recognition='true' data-content='secretariat@apric.org' href='mailto:secretariat@apric.org' data-type='mail') secretariat@apric.org
            .footer__right.pure-u-1.pure-u-md-1-4
                p
                    a.social Twitter
                    a.social Facebook
                    a.social YouTube
                    a.social Instagram
            .footer__right.pure-u-1.pure-u-md-1-4
                p © 2023 by CA Workers Party﻿. Proudly created

a.gotoheader
    img.pure-img(src="./assets/img/chevron-up-outline.svg", alt="")