.bg-ctr
    .wrap
        //-第三a步驟
        .statement
            .title
                h2 Asia-Pacific Rail Innovation Collaboration (APRIC) – Membership Application Form 2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            form(action="apply-03b_eng.html").container
                .pure-g
                    .title-bar.pure-u-1 Organization Details (for Corporate Member only)
                    .text-box.pure-u-1
                        .pure-form.pure-form-stacked.pure-g
                            .pure-u-1
                                input.inputbox#name(type='text' placeholder='Name of Organization')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Abbreviation (if any)').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='VAT / TAX No.')
                            .pure-u-1
                                input.inputbox#name(type='text' placeholder='Address')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Office Phone').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='Mobile Phone')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Job Title').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='email' placeholder='Contact Email')
                .pure-g
                    .title-bar.pure-u-1 
                        span.pure-u-1.pure-u-lg-2-5
                            span Primary Representative (pleaseselect✓)
                        span.pure-u-1.radio-box.pure-u-lg-3-5
                            label.pure-radio.inline(for='main-user1')
                                input#main-user1(type='radio' name="optionsRadios-1" value="option1")
                                |  Prof
                                span.opt-mark
                            label.pure-radio.inline(for='main-user2')
                                input#main-user2(type='radio' name="optionsRadios-1" value="option2")
                                |  Dr
                                span.opt-mark
                            label.pure-radio.inline(for='main-user3')
                                input#main-user3(type='radio' name="optionsRadios-1" value="option3")
                                |  Mr
                                span.opt-mark
                            label.pure-radio.inline(for='main-user4')
                                input#main-user4(type='radio' name="optionsRadios-1" value="option4")
                                |  Ms
                                span.opt-mark
                    .text-box.pure-u-1
                        .pure-form.pure-form-stacked.pure-g
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Family Name').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='First Name')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Office Phone').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='Mobile Phone')
                            .pure-u-1
                                input.inputbox#name(type='email' placeholder='Email')
                .pure-g
                    .title-bar.pure-u-1 
                        span.pure-u-1.pure-u-lg-2-5
                            span Alternate Representative (pleaseselect✓)
                        span.pure-u-1.radio-box.pure-u-lg-3-5
                            label.pure-radio.inline(for='second-user1')
                                input#second-user1(type='radio' name="optionsRadios-2" value="option1")
                                |  Prof
                                span.opt-mark
                            label.pure-radio.inline(for='second-user2')
                                input#second-user2(type='radio' name="optionsRadios-2" value="option2")
                                |  Dr
                                span.opt-mark
                            label.pure-radio.inline(for='second-user3')
                                input#second-user3(type='radio' name="optionsRadios-2" value="option3")
                                |  Mr
                                span.opt-mark
                            label.pure-radio.inline(for='second-user4')
                                input#second-user4(type='radio' name="optionsRadios-2" value="option4")
                                |  Ms
                                span.opt-mark
                    .text-box.pure-u-1
                        .pure-form.pure-form-stacked.pure-g
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Family Name').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='First Name')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Office Phone').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='Mobile Phone')
                            .pure-u-1
                                input.inputbox#name(type='email' placeholder='Email')
                    
                    .pure-u-1.buttonwrap.alr
                        button(type="submit").pure-button.pure-button-primary Next