.bg-ctr
    .wrap
        //-第二步驟
        .statement
            .title
                h2 APRIC 亚太轨道创新联盟 – 会员申请表格2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            .container
                form(action="apply-03a.html").pure-g
                    .title-bar.pure-u-1 会员类别(请选择 ✓ 其中一项) 
                    .text-box.pure-u-1
                        .pure-g
                            .pure-controls.pure-u-1.pure-u-lg-1-5
                                label.pure-radio(for='op1')
                                    input#op1(type='radio' name="optionsRadios" value="option1" checked)
                                    |  机构会员
                                    span.opt-mark
                            p.pure-u-1.pure-u-lg-4-5 机构会员为组织、政府单位、企业、研究院校等。每家机构可委任两个席位:主要代表人、替换代表人。机构会员拥有在 APRIC 「亚太轨道创新联盟」举办的活动中介绍其技术创新项目的机会，包括研究中的、已原型化的、推出为产品服务或解决方案等技术。机构会员在会员大会上享有正式投票权。2020 年的会费为每年美元 2,500。
                        br
                        .pure-g
                            .pure-controls.pure-u-1.pure-u-lg-1-5
                                label.pure-radio(for='op2')
                                    input#op2(type='radio' name="optionsRadios" value="option2")
                                    |  个人会员
                                    span.opt-mark
                            p.pure-u-1.pure-u-lg-4-5 个人会员可参加 APRIC「亚太轨道创新联盟」的活动，享有在会员大会上的投票权。2020 年的会费为每年美元 250。
                    
                    .pure-u-1.buttonwrap.alr
                        button(type="submit").pure-button.pure-button-primary(href='apply-03a.html') 继续