.bg-ctr
    .wrap
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 会员类别
            .joinus__right.pure-u-1.pure-u-lg-20-24
                .container
                    p 欢迎加入专门连结城轨专家的联盟！APRIC「亚太轨道创新联盟」提供两种会员类别以供申请。请填妥会员申请表格，网上申请或表格下载，交回秘书处办理。
                    p 请填写机构或个人有关以下事项：
                    ul
                        li 技术专业
                        li 创新实践
                        li 地域应用
                        li 附属研究院校
                        li 创新阶段
        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 机构会员
            .joinus__right.pure-u-1.pure-u-lg-20-24
                .container
                    p 由组织、政府单位、企业、研究院校代表；<br>成功填写会员申请表格，并经APRIC行政委员会核准会员资格；<br> 可委任两席位：主要代表人、替换代表人；<br>拥有在APRIC活动中介绍技术创新项目的机会，展示概念、原型、产品、或方案等；<br>在APRIC会员大会上拥有正式投票权。

        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 个人会员
            .joinus__right.pure-u-1.pure-u-lg-20-24
                .container
                    p 成功填写会员申请表格，并经APRIC行政委员会核准会员资格；<br>享有参与APRIC活动资格；<br> 在APRIC会员大会上拥有正式投票权。

        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            
        .joinus.pure-g
            .pure-u-1
                .title.seconddary
                    h2 2020会费结构
        .fee.pure-g
            .fee-block.pure-u-1.pure-u-md-1-3
                .container
                    h2 会员类别
                    h2 每年会费
                    img(src="./assets/img/member-fee.png", alt="")
            .fee-block.pure-u-1.pure-u-md-1-3
                .container
                    h2 机构会员
                    h2 USD 2,500
                    img(src="./assets/img/member-fee.png", alt="")
            .fee-block.pure-u-1.pure-u-md-1-3
                .container
                    h2 个人会员
                    h2 USD 250
                    img(src="./assets/img/member-fee.png", alt="")

        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 付费条款
            .joinus__right.pure-u-1.pure-u-lg-20-24
                .container
                    p 会员申请必须经由APRIC秘书处核实的会员申请表格核实；<br>APRIC行政委员会核实的会员申请，APRIC秘书处将对机构/个人发出正式书面通知；<br> 为在始创阶段让新加入会员体验APRIC，2020度会费将在2020年6月或以后缴交；<br> 详细会员条款请查会员申请表格。
    
        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 加入APRIC
            .joinus__right.pure-u-1.pure-u-lg-20-24
                .container.buttonwrap
                    a.pure-button.pure-button-primary(href="./assets/doc/member_form.pdf" target="_blank" data-type="document") 会员申请表格下载
                    a.pure-button.pr.pure-button-primary(href='apply-01.html') 网上申请