.bg-ctr
    .wrap
        //-第一步驟
        .statement
            .title
                h2 Terms of APRIC
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            .container
                form(action="apply-02_eng.html").pure-g
                    .title-bar.pure-u-1 Read the following statement
                    .text-box.pure-u-1
                        p DECLARATION:
                        p We/I understand that the Asia-Pacific Rail Innovation Collaboration Co., Ltd. is a registered entity governed under the laws of the HKSAR. We/I have read carefully the Terms of APRIC and the admission criteria and have completed this Application Form as required. We/I understand and accept that membership application is subject to the final approval of APRIC. We/I agree to provide the information for membership application processing and is entitled to the protection of the Personal Data (Privacy) Ordinance of the HKSAR.
                        .pure-controls.pdt
                            label.pure-checkbox(for='cb')
                                input#cb(type='checkbox')
                                |  We/I agree to receive information relating to events, industry news, expert updates and others from APRIC Secretariat via printed and electronic means.
                                span.checkmark
                    .text-box.pure-u-1
                        p Terms of APRIC
                        ol
                            li Objectives: APRIC is a collaboration platform linking the group of experts in the railway industry. APRIC (a) stimulates the many different needs to innovate by proofing the benefits of adopting better innovative technologies; (b) advances the speed of technology landing through identification of applicable test-beds for prototyping; (c) gathers empirical data to improve the fitting of the solutions to the urban railway sector; (d) seeks performing and efficient integration of solutions from the planning, system design, construction, operating, maintenance, through to the stage of asset management; (e) connects experts in the urban railway sector within Asia-Pacific region to prepare the best-available solutions for the future; and (f) fosters G2G (government-to-government), G2E (government-to-enterprise), and E2E (enterprise-to-enterprise) collaboration. APRIC works in the bounds of research, testing, prototyping, technology transfer, and commercialization for innovative technologies that will make urban railway safer, more efficient to commuters and the environment, and offering more satisfying riding experience.
                            li Nature: APRIC is a not-for-profit organization connecting the group of experts and fellows in railway system designs, equipment supplies, operations, which are all enthusiastic believers in the power of innovation in building better performing and higher efficiency railways, ultimately benefitting communities and cities. APRIC is registered as a limited company by guarantee under the laws of the Hong Kong Special Administrative Region (HKSAR).
                            li Governance: APRIC is governed under General Meetings and is administered through the Executive Committee. The General Meetings are forums for decisions involving all membership matters and activities including but not limited to membership structure, membership fees, and activities, to be organized as the Annual General Meetings or Ordinary General Meetings, or Extraordinary General Meetings. The meetings will carry out voting on decisions based on majority rule. The voting rights are given to Corporate Members and Individual Members only. The Executive Committee is the decision-making organ of APRIC. Its scope of duties includes defining and approving all administrative and financial matters, proposing activities and programmes for members’ benefits, and to promote the objectives of APRIC.
                            li Membership: APRIC offers two (2) types of membership, namely, Corporate Member and Individual Member. Interested parties can fill in the Membership Application Form for review and approval by the APRIC Executive Committee. A Corporate Member is entitled for the presentation and sharing of their technological innovations through APRIC as a platform. Each Corporate Member is entitled to two (2) representatives, namely the Primary Representative and the Alternate Representative. Individual Members are not eligible to present their scientific discoveries and innovations at APRIC events. Students, media or other experts who are ineligible for any class of membership may be invited as observers to APRIC events, subject to the decision and approval of the Executive Committee.
                            li Membership Fees: The annual membership fee in 2020 is USD 2,500 for Corporate Member, and USD 250 for Individual Member. The fees are counted on a 12-month rolling basis. Membership starts at the 1st day of the calendar month upon receipt of the full membership fees due for the year. The 1H 2020 Membership fees are collected around June/July 2020 for membership trial during the first year of APRIC incorporation. The annual membership fee is a decision by the Executive Committee and will be announced on the official website: www.apric.org.
                            li Membership Resignation: Resignation of membership must be made in writing and be sent via email to secretariat@apric.org. Resignation takes three (3) months to process, counting from the date of receipt of the email by the Secretariat.
                            li Membership Suspension: Any membership may be suspended as a decision reached by the Executive Committee, should the members be found to be sharing information in breach of honesty and integrity, or is a suspect of plagiarism relating to the scientific discoveries and innovations. The membership will be reinstated if satisfied empirical data is provided by the members to clarify the situation in this case. The membership may also be suspended if the fees are not settled exceeding one (1) month after the payment deadline. The membership will be reinstated upon settling of membership fees.
                            li Eligibility: This Membership Application Form serves as a binding legal document between APRIC and the members. By signing the “Declaration” of this Form, the party enters into a contractual agreement with APRIC.
                    .pure-u-1.buttonwrap.alr
                        button(type="submit").pure-button.pure-button-primary Confirm and Next