.bg-ctr
    .wrap
        //-第三a步驟
        .statement
            .title
                h2 Asia-Pacific Rail Innovation Collaboration (APRIC) – Membership Application Form 2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            form(action="apply-04_eng.html").container
                .pure-g
                    .title-bar.pure-u-1 
                        span.pure-u-1.pure-u-lg-1-3
                            span Personal Details (for Individual Member only)
                        span.pure-u-1.radio-box.pure-u-lg-2-3
                            label.pure-radio.inline(for='personal-user1')
                                input#personal-user1(type='radio' name="optionsRadios-3" value="option1")
                                |  Prof
                                span.opt-mark
                            label.pure-radio.inline(for='personal-user2')
                                input#personal-user2(type='radio' name="optionsRadios-3" value="option2")
                                |  Dr
                                span.opt-mark
                            label.pure-radio.inline(for='personal-user3')
                                input#personal-user3(type='radio' name="optionsRadios-3" value="option3")
                                |  Mr
                                span.opt-mark
                            label.pure-radio.inline(for='personal-user4')
                                input#personal-user4(type='radio' name="optionsRadios-3" value="option4")
                                |  Ms
                                span.opt-mark
                    .text-box.pure-u-1
                        .pure-form.pure-form-stacked.pure-g
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Family Name').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='First Name')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Office Phone').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='Mobile Phone')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='email' placeholder='Email').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='Job Title')
                            .pure-u-1
                                input.inputbox#name(type='text' placeholder='Address')
                    
                    .pure-u-1.buttonwrap.alr
                        button(type="submit").pure-button.pure-button-primary Next