.bg-ctr
    .wrap
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-5-24
                .title
                    h2 Membership types
            .joinus__right.pure-u-1.pure-u-lg-19-24
                .container
                    p Welcome to the alliance of urban railway experts! There are 2 types of membership opened for application. Please complete the Membership Application Form either by filling in online or download from here.
                    p ou will be required to share your Organization or Individual’s status about the following:
                    ul
                        li Your technology expertise
                        li Innovations practiced
                        li Geographical application of the technology
                        li Attachment to institutions, in any
                        li Stage of the innovations
        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 Corporate Member
            .joinus__right.pure-u-1.pure-u-lg-20-24
                .container
                    ul
                        li Represented by an organization, authority, enterprise, institution or academia;
                        li Successfully completed the Membership Application Form and be approved by the APRIC Executive Committee;
                        li Entitled to have 2 representatives, including a Primary Representative and an Alternate Representative;
                        li Eligible to present technological innovations in concepts, prototypes, products or solutions at APRIC events;
                        li Has full voting right at APRIC General Meetings.

        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 Individual Member
            .joinus__right.pure-u-1.pure-u-lg-20-24
                .container
                    ul
                        li Successfully completed the Membership Application Form and be approved by the APRIC Executive Committee;
                        li Eligible to attend APRIC events;
                        li Has full voting right at APRIC General Meetings.
        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            
        .joinus.pure-g
            .pure-u-1
                .title.seconddary
                    h2 Membership Fee 2020
        .fee.pure-g
            .fee-block.pure-u-1.pure-u-md-1-3
                .container
                    h2 Membership Type
                    h2 Annual Membership Fee
                    img(src="./assets/img/member-fee.png", alt="")
            .fee-block.pure-u-1.pure-u-md-1-3
                .container
                    h2 Corporate Member
                    h2 USD 2,500
                    img(src="./assets/img/member-fee.png", alt="")
            .fee-block.pure-u-1.pure-u-md-1-3
                .container
                    h2 Individual Member
                    h2 USD 250
                    img(src="./assets/img/member-fee.png", alt="")

        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 Payment and Terms
            .joinus__right.pure-u-1.pure-u-lg-20-24
                .container
                    ul
                        li Membership is only accepted when the Membership Application Form is completed and received by the APRIC Secretariat.
                        li Upon approval of membership application, APRIC Secretariat will inform the organization/individual in writing.
                        li The 2020 Membership Fees will be collected after June 2020, allowing for newly joined members to experience APRIC in the initial year.
                        li For detailed terms, please refer to the Membership Application Form.
        .pure-g
    
        .pure-g
            .decoline.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            
        .joinus.pure-g
            .joinus__left.pure-u-1.pure-u-lg-4-24
                .title
                    h2 Join APRIC 
            .joinus__right.pure-u-1.pure-u-lg-20-24
                .container.buttonwrap
                    a.pure-button.pure-button-primary(href="./assets/doc/member_form.pdf" target="_blank" data-type="document") Membership Application Form download
                    a.pure-button.pr.pure-button-primary(href='apply-01_eng.html') Online application