.bg-ctr
    .wrap
        //-第四步驟
        .statement
            .title
                h2 Asia-Pacific Rail Innovation Collaboration (APRIC) – Membership Application Form 2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            .container
                .pure-g
                    .title-bar.pure-u-1 Membership Activities (please select ✓ ALL that apply)
                    .text-box.pure-u-1
                        .pure-g
                            .pure-controls.pure-u-1.pure-u-lg-1-8 Technology expertise
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-1')
                                        input#member-activity-1(type='checkbox')
                                        |  Policy
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-2')
                                        input#member-activity-2(type='checkbox')
                                        |  Planning
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-3')
                                        input#member-activity-3(type='checkbox')
                                        |  Vehicles components & systems
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-4')
                                        input#member-activity-4(type='checkbox')
                                        |  Maintenance
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-5')
                                        input#member-activity-5(type='checkbox')
                                        |  Infrastructure & construction
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-6')
                                        input#member-activity-6(type='checkbox')
                                        | Energy & power
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-7')
                                        input#member-activity-7(type='checkbox')
                                        |  ITS & data
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-8')
                                        input#member-activity-8(type='checkbox')
                                        |  Interiors & materials
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-9')
                                        input#member-activity-9(type='checkbox')
                                        |  Air quality & ventilation
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-10')
                                        input#member-activity-10(type='checkbox')
                                        |  Ticket & payment
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-11')
                                        input#member-activity-11(type='checkbox')
                                        |  Safety
                                        span.checkmark
                                span.pure-u-1.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-12')
                                        input#member-activity-12(type='checkbox')
                                        |  Others
                                        input.inputbox.elseblank#else01(type='text' placeholder='pls specify')
                                        span.checkmark
                            hr            
                            .pure-controls.pure-u-1.pure-u-lg-1-8 Innovations practiced
                            span.pure-u-1.pure-u-lg-7-8
                                    label
                                        input.inputbox.noteblank(type='text' placeholder='Please explain the technological innovations practiced.')
                            hr
                            .pure-controls.pure-u-1.pure-u-lg-1-8 Geographical application
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-13')
                                        input#member-activity-13(type='checkbox')
                                        |  Worldwide
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-14')
                                        input#member-activity-14(type='checkbox')
                                        |  Asia-Pacific
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-15')
                                        input#member-activity-15(type='checkbox')
                                        |  North & Northeast Asia (snow weather)
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-16')
                                        input#member-activity-16(type='checkbox')
                                        |  Southeast Asia (tropical weather)
                                        span.checkmark
                            hr            
                            .pure-controls.pure-u-1.pure-u-lg-1-8 Attachment to institutions
                            span.pure-u-1.pure-u-lg-7-8
                                    label
                                        input.inputbox.noteblank(type='text' placeholder='Please give details on the R&D institutions attached to.')
                            hr
                            .pure-controls.pure-u-1.pure-u-lg-1-8 Stage of the innovations
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-17')
                                        input#member-activity-17(type='checkbox')
                                        |  R&D at lab
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-18')
                                        input#member-activity-18(type='checkbox')
                                        |  Prototyping
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-19')
                                        input#member-activity-19(type='checkbox')
                                        |  Commercialization & go-to-market ready
                                        span.checkmark
                            hr
                            .pure-controls.pure-u-1.pure-u-lg-1-8 Activity preference
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-20')
                                        input#member-activity-20(type='checkbox')
                                        |  Study Tour
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-21')
                                        input#member-activity-21(type='checkbox')
                                        |  Technology Dialogue
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-22')
                                        input#member-activity-22(type='checkbox')
                                        |  Conference
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-23')
                                        input#member-activity-23(type='checkbox')
                                        |  Exhibition
                                        span.checkmark
                                span.pure-u-1.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-24')
                                        input#member-activity-24(type='checkbox')
                                        |  Others
                                        input.inputbox.elseblank#else01(type='text' placeholder='pls specify')
                                        span.checkmark
                               
                    .pure-u-1.buttonwrap.alr
                        submit.pure-button.pure-button-primary#finalBtn(href='#') Finish
                        .finalnote Please send information relating to the innovation to APRIC at secretariat@apric.org.