.bg-ctr
    .wrap
        //-第二步驟
        .statement
            .title
                h2 Asia-Pacific Rail Innovation Collaboration (APRIC) – Membership Application Form 2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            .container
                form(action="apply-03a_eng.html").pure-g
                    .title-bar.pure-u-1 Membership Category applied for (select ✓ one item only)
                    .text-box.pure-u-1
                        .pure-g
                            .pure-controls.pure-u-1.pure-u-lg-1-5
                                label.pure-radio(for='op1')
                                    input#op1(type='radio' name="optionsRadios" value="option1" checked)
                                    |  Corporate Member
                                    span.opt-mark
                            p.pure-u-1.pure-u-lg-4-5 A Corporate Member is qualified if it is represented by an organization, authority, enterprise, institution or academia. Each Corporate Member is entitled to have two (2) representatives, including one (1) Primary Representative and one (2) Alternate Representative. A Corporate Member is eligible to present its technological innovations in concepts, prototypes, products or solutions at APRIC events. A Corporate Member has full voting rights at APRIC General Meetings. The annual membership fee (for 2020) is USD 2,500.
                        br
                        .pure-g
                            .pure-controls.pure-u-1.pure-u-lg-1-5
                                label.pure-radio(for='op2')
                                    input#op2(type='radio' name="optionsRadios" value="option2")
                                    |  Individual Member
                                    span.opt-mark
                            p.pure-u-1.pure-u-lg-4-5 An Individual Member is eligible to attend APRIC events and has full voting rights at APRIC General Meetings. The annual membership fee (for 2020) is USD 250.
                    
                    .pure-u-1.buttonwrap.alr
                        button(type="submit").pure-button.pure-button-primary(href='apply-03a.html') Next