.bg-ctr
    .wrap
        //-第三a步驟
        .statement
            .title
                h2 APRIC 亚太轨道创新联盟 – 会员申请表格2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            form(action="apply-03b.html").container
                .pure-g
                    .title-bar.pure-u-1 机构资料(只供申请“机构会员”者填写)
                    .text-box.pure-u-1
                        .pure-form.pure-form-stacked.pure-g
                            .pure-u-1
                                input.inputbox#name(type='text' placeholder='机构名称')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='简称(若有)').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='注册号/统一社会信用代码')
                            .pure-u-1
                                input.inputbox#name(type='text' placeholder='地址')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='办公室电话').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='手机号码')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='职位').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='email' placeholder='电邮')
                .pure-g
                    .title-bar.pure-u-1 
                        span.pure-u-1.pure-u-lg-1-5
                            span 主要代表人(请选择适用者)
                        span.pure-u-1.radio-box.pure-u-lg-4-5
                            label.pure-radio.inline(for='main-user1')
                                input#main-user1(type='radio' name="optionsRadios-1" value="option1")
                                |  教授
                                span.opt-mark
                            label.pure-radio.inline(for='main-user2')
                                input#main-user2(type='radio' name="optionsRadios-1" value="option2")
                                |  博士
                                span.opt-mark
                            label.pure-radio.inline(for='main-user3')
                                input#main-user3(type='radio' name="optionsRadios-1" value="option3")
                                |  先生
                                span.opt-mark
                            label.pure-radio.inline(for='main-user4')
                                input#main-user4(type='radio' name="optionsRadios-1" value="option4")
                                |  女士
                                span.opt-mark
                    .text-box.pure-u-1
                        .pure-form.pure-form-stacked.pure-g
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='姓氏').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='名字')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='办公室电话').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='手机号码')
                            .pure-u-1
                                input.inputbox#name(type='email' placeholder='电邮')
                .pure-g
                    .title-bar.pure-u-1 
                        span.pure-u-1.pure-u-lg-1-5
                            span 替换代表人(请选择适用者)
                        span.pure-u-1.radio-box.pure-u-lg-4-5
                            label.pure-radio.inline(for='second-user1')
                                input#second-user1(type='radio' name="optionsRadios-2" value="option1")
                                |  教授
                                span.opt-mark
                            label.pure-radio.inline(for='second-user2')
                                input#second-user2(type='radio' name="optionsRadios-2" value="option2")
                                |  博士
                                span.opt-mark
                            label.pure-radio.inline(for='second-user3')
                                input#second-user3(type='radio' name="optionsRadios-2" value="option3")
                                |  先生
                                span.opt-mark
                            label.pure-radio.inline(for='second-user4')
                                input#second-user4(type='radio' name="optionsRadios-2" value="option4")
                                |  女士
                                span.opt-mark
                    .text-box.pure-u-1
                        .pure-form.pure-form-stacked.pure-g
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='姓氏').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='名字')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='办公室电话').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='手机号码')
                            .pure-u-1
                                input.inputbox#name(type='email' placeholder='电邮')
                    
                    .pure-u-1.buttonwrap.alr
                        button(type="submit").pure-button.pure-button-primary 继续