.bg-ctr
    .wrap
        //-第四步驟
        .statement
            .title
                h2 APRIC 亚太轨道创新联盟 – 会员申请表格2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            .container
                .pure-g
                    .title-bar.pure-u-1 会员活动(请选择所有适合者) 
                    .text-box.pure-u-1
                        .pure-g
                            .pure-controls.pure-u-1.pure-u-lg-1-8 技术专业
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-1')
                                        input#member-activity-1(type='checkbox')
                                        |  政策
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-2')
                                        input#member-activity-2(type='checkbox')
                                        |  规划
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-3')
                                        input#member-activity-3(type='checkbox')
                                        |  车辆零部件和系统
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-4')
                                        input#member-activity-4(type='checkbox')
                                        |  维护
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-5')
                                        input#member-activity-5(type='checkbox')
                                        |  基础建设与建造
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-6')
                                        input#member-activity-6(type='checkbox')
                                        |  能源电力
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-7')
                                        input#member-activity-7(type='checkbox')
                                        |  信息技术系统与数据
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-8')
                                        input#member-activity-8(type='checkbox')
                                        |  内饰与材料
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-9')
                                        input#member-activity-9(type='checkbox')
                                        | 空气品质与通风
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-10')
                                        input#member-activity-10(type='checkbox')
                                        |  票务系统与付费
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-11')
                                        input#member-activity-11(type='checkbox')
                                        |  安全系统
                                        span.checkmark
                                span.pure-u-1.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-12')
                                        input#member-activity-12(type='checkbox')
                                        |  其他
                                        input.inputbox.elseblank#else01(type='text' placeholder='請註明')
                                        span.checkmark
                            hr            
                            .pure-controls.pure-u-1.pure-u-lg-1-8 创新实践
                            span.pure-u-1.pure-u-lg-7-8
                                    label
                                        input.inputbox.noteblank(type='text' placeholder='请注明创新技术的实践明细')
                            hr
                            .pure-controls.pure-u-1.pure-u-lg-1-8 地域应用
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-13')
                                        input#member-activity-13(type='checkbox')
                                        |  全球
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-14')
                                        input#member-activity-14(type='checkbox')
                                        |  原型建立
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-15')
                                        input#member-activity-15(type='checkbox')
                                        |  北亚洲与东北亚洲(雨雪气候)
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-16')
                                        input#member-activity-16(type='checkbox')
                                        |  东南亚(热带气候)
                                        span.checkmark
                            hr            
                            .pure-controls.pure-u-1.pure-u-lg-1-8 附属研究院校
                            span.pure-u-1.pure-u-lg-7-8
                                    label
                                        input.inputbox.noteblank(type='text' placeholder='请注明所属科研机构')
                            hr
                            .pure-controls.pure-u-1.pure-u-lg-1-8 创新阶段
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-17')
                                        input#member-activity-17(type='checkbox')
                                        |  实验室内科研
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-18')
                                        input#member-activity-18(type='checkbox')
                                        |  原型建立
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-19')
                                        input#member-activity-19(type='checkbox')
                                        |  商业落地可推出市场
                                        span.checkmark
                            hr
                            .pure-controls.pure-u-1.pure-u-lg-1-8 活动偏好
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-20')
                                        input#member-activity-20(type='checkbox')
                                        |  考察团
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-21')
                                        input#member-activity-21(type='checkbox')
                                        |  技术交流会
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-22')
                                        input#member-activity-22(type='checkbox')
                                        |  大会
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-23')
                                        input#member-activity-23(type='checkbox')
                                        |  展览
                                        span.checkmark
                                span.pure-u-1.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-24')
                                        input#member-activity-24(type='checkbox')
                                        |  其他
                                        input.inputbox.elseblank#else01(type='text' placeholder='請註明')
                                        span.checkmark
                               
                    .pure-u-1.buttonwrap.alr
                        submit.pure-button.pure-button-primary#finalBtn(href='#') 完成
                        .finalnote 通知：APRIC 亚太轨道创新联盟秘书处将通知阁下会员申请结果，并发出会费缴费通知书。