.bg-ctr
    .wrap
        //-第一步驟
        .statement
            .title
                h2 APRIC 亚太轨道创新联盟 – 声明
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            .container
                .pure-g
                    .title-bar.pure-u-1 请详阅以下声明
                    .text-box.pure-u-1
                        p 声明：
                        p 本机构/本人明白亚太轨道创新联盟有限公司是根据香港特别行政区法规成立的公司。本机构/本人已经阅读亚太轨道创新联盟会员条款与入会条件，完成填写 此表格。本机构/本人明白并同意加入亚太轨道创新联盟会员必须经过其行政委员会的审批。本机构/本人同意把本机构与个人的有关资料呈交亚太轨道创新联 盟，以便作出会员申请之用。同时，也受到香港特别行政区政府的个人资料(私隐)条例规范与保护。
                        .pure-controls.pdt
                            label.pure-checkbox(for='cb')
                                input#cb(type='checkbox')
                                |  本机构/本人同意接收亚太轨道创新联盟发送平面、电子、与多媒体有关活动、行业、专家的讯息。
                                span.checkmark
                    .text-box.pure-u-1
                        p 「亚太轨道创新联盟」条款
                        ol
                            li 目标愿景:「亚太轨道创新联盟」(以下简称联盟)是连接轨道行业专家而建的协作平台。联盟 (a) 通过实践创新技术驱动城轨更佳表 现，致力刺激对创新技术的需求; (b) 寻找适合测试新技术的平台，加快创新技术商业落地的速度; (c) 收集实证数据，改善城轨创新技 术方向的适应性; (d) 从城轨项目的规划、设计、建造、运营、维保、到资产管理，寻求更有绩效的集成方案; (e) 联系亚太地区的城轨 专才，共同缔造未来的最佳解决方案; (f) 促进 G2G(政府与政府)、G2E(政府与企业)、E2E(企业与企业)之间的创新技术合作。 「亚太轨道创新联盟」为优良的创新技术项目，提供调研、测试、原型建立、技术转移、商业落地的协作环境，为出行者与环境建造更 满意的出行体验。
                            li 公司注册:联盟定性为非营利组织，旨在联系轨道行业各界专家，包括系统设计、设备供应、运营维护等。透过推动创新，提高轨道交 通的 效率，长远对城市及人民缔造更大益处。联盟在香港特别行政区以担保注册形式注册为有限公司。
                            li 行政管治:联盟以会员大会为最高管治单位，并由行政委员会进行行政及管理。会员大会负责讨论所有有关会员事务，包括但不限于以 下各项:会员结构、会员费、会员活动等;以年度会员大会、普通会员大会、或特别会员大会等形式进行。会议在决定事项时，将以多 数表决，机构会员及个人会员享有投票权。联盟以行政委员会为最高行政机构，其职责范围包括厘定及核准所有行政决策、财务决策、 活动大纲、会员利益等，竭力推动联盟之目标愿景。
                            li 会员制度:联盟提供两种会员计划:机构会员、个人会员。有兴趣加入的机构单位与个人，可填写会员申请表格，递交与联盟的秘书处 由行政委员会审核。机构会员享有在联盟举办的活动中介绍其技术创新项目的机会，包括研究中的、已原型化的、推出为产品服务或解 决方案的技术。机构会员可委任两个席位:主要代表人、替换代表人。个人会员不能在联盟活动上介绍或展示其科学研究与创新技术。 学生、媒体及其他专家不在以上之列者，可在行政委员会同意后，以观察员身份参与联盟的活动。
                            li 会费结构: 2020 年的会费结构，机构会员每年 2,500 美元，个人会员每年 250 美元。会费以 12 个月滚动计算，会员资格在收托该年会费 后的下一个日历月一号开始生效。2020 年上半年度的会费，将在 2020 年 6/7 月缴费，让会员体验联盟首年的服务。年度会员费将由行政 委员会制定，在联盟网站上通告:www.apric.org。
                            li 退会申请:退会申请必须通过电邮以书面向秘书处申请:secretariat@apric.org。以收托电邮通知启算，退会手续预计在三个月内完成，将 由秘书处书面确认。
                            li 会席暂停:若发现会员在分享讯息的过程中，有违任何诚实与正直行为原则、或有抄袭创新研究等行为者，其会席将被暂停。在会员提 供让行政委员会满意之实证数据及澄清后，会席将予以恢复。此外，若会费在缴费限期后一个月或以上仍未交付，其会席将被暂停至完 成缴费为止。
                            li 法律效力:此会员表格是联盟与其会员之间的具法律效力之文件，在会员申请时签署的声明时，代表申请人或申请单位机构同意与联盟 订立具法律效力的合约。
                    .pure-u-1.buttonwrap.alr
                        a.pure-button.pure-button-primary(href='apply.html') 确认并前往下一页
        
        //-第二步驟
        .statement
            .title
                h2 APRIC 亚太轨道创新联盟 – 会员申请表格2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            .container
                .pure-g
                    .title-bar.pure-u-1 会员类别(请选择 ✓ 其中一项) 
                    .text-box.pure-u-1
                        .pure-g
                            .pure-controls.pure-u-1.pure-u-lg-1-5
                                label.pure-radio(for='op1')
                                    input#op1(type='radio' name="optionsRadios" value="option1" checked)
                                    |  机构会员
                                    span.opt-mark
                            p.pure-u-1.pure-u-lg-4-5 机构会员为组织、政府单位、企业、研究院校等。每家机构可委任两个席位:主要代表人、替换代表人。机构会员拥有在 APRIC 「亚太轨道创新联盟」举办的活动中介绍其技术创新项目的机会，包括研究中的、已原型化的、推出为产品服务或解决方案等技术。机构会员在会员大会上享有正式投票权。2020 年的会费为每年美元 2,500。
                        br
                        .pure-g
                            .pure-controls.pure-u-1.pure-u-lg-1-5
                                label.pure-radio(for='op2')
                                    input#op2(type='radio' name="optionsRadios" value="option2")
                                    |  个人会员
                                    span.opt-mark
                            p.pure-u-1.pure-u-lg-4-5 个人会员可参加 APRIC「亚太轨道创新联盟」的活动，享有在会员大会上的投票权。2020 年的会费为每年美元 250。
                    
                    .pure-u-1.buttonwrap.alr
                        submit.pure-button.pure-button-primary(href='apply.html') 继续
        
        //-第三a步驟
        .statement
            .title
                h2 APRIC 亚太轨道创新联盟 – 会员申请表格2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            .container
                .pure-g
                    .title-bar.pure-u-1 机构资料(只供申请“机构会员”者填写)
                    .text-box.pure-u-1
                        form.pure-form.pure-form-stacked.pure-g
                            .pure-u-1
                                input.inputbox#name(type='text' placeholder='机构名称')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='简称(若有)').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='注册号/统一社会信用代码')
                            .pure-u-1
                                input.inputbox#name(type='text' placeholder='地址')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='办公室电话').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='手机号码')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='职位').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='email' placeholder='电邮')
                .pure-g
                    .title-bar.pure-u-1 
                        span.pure-u-1.pure-u-lg-1-5
                            span 主要代表人(请选择适用者)
                        span.pure-u-1.radio-box.pure-u-lg-4-5
                            label.pure-radio.inline(for='main-user1')
                                input#main-user1(type='radio' name="optionsRadios-1" value="option1")
                                |  教授
                                span.opt-mark
                            label.pure-radio.inline(for='main-user2')
                                input#main-user2(type='radio' name="optionsRadios-1" value="option2")
                                |  博士
                                span.opt-mark
                            label.pure-radio.inline(for='main-user3')
                                input#main-user3(type='radio' name="optionsRadios-1" value="option3")
                                |  先生
                                span.opt-mark
                            label.pure-radio.inline(for='main-user4')
                                input#main-user4(type='radio' name="optionsRadios-1" value="option4")
                                |  女士
                                span.opt-mark
                    .text-box.pure-u-1
                        form.pure-form.pure-form-stacked.pure-g
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='姓氏').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='名字')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='办公室电话').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='手机号码')
                            .pure-u-1
                                input.inputbox#name(type='email' placeholder='电邮')
                .pure-g
                    .title-bar.pure-u-1 
                        span.pure-u-1.pure-u-lg-1-5
                            span 替换代表人(请选择适用者)
                        span.pure-u-1.radio-box.pure-u-lg-4-5
                            label.pure-radio.inline(for='second-user1')
                                input#second-user1(type='radio' name="optionsRadios-2" value="option1")
                                |  教授
                                span.opt-mark
                            label.pure-radio.inline(for='second-user2')
                                input#second-user2(type='radio' name="optionsRadios-2" value="option2")
                                |  博士
                                span.opt-mark
                            label.pure-radio.inline(for='second-user3')
                                input#second-user3(type='radio' name="optionsRadios-2" value="option3")
                                |  先生
                                span.opt-mark
                            label.pure-radio.inline(for='second-user4')
                                input#second-user4(type='radio' name="optionsRadios-2" value="option4")
                                |  女士
                                span.opt-mark
                    .text-box.pure-u-1
                        form.pure-form.pure-form-stacked.pure-g
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='姓氏').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='名字')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='办公室电话').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='手机号码')
                            .pure-u-1
                                input.inputbox#name(type='email' placeholder='电邮')
                
                .pure-g
                    .title-bar.pure-u-1 
                        span.pure-u-1.pure-u-lg-1-3
                            span 个人资料(只供申请“个人会员”者填写)
                        span.pure-u-1.radio-box.pure-u-lg-2-3
                            label.pure-radio.inline(for='personal-user1')
                                input#personal-user1(type='radio' name="optionsRadios-3" value="option1")
                                |  教授
                                span.opt-mark
                            label.pure-radio.inline(for='personal-user2')
                                input#personal-user2(type='radio' name="optionsRadios-3" value="option2")
                                |  博士
                                span.opt-mark
                            label.pure-radio.inline(for='personal-user3')
                                input#personal-user3(type='radio' name="optionsRadios-3" value="option3")
                                |  先生
                                span.opt-mark
                            label.pure-radio.inline(for='personal-user4')
                                input#personal-user4(type='radio' name="optionsRadios-3" value="option4")
                                |  女士
                                span.opt-mark
                    .text-box.pure-u-1
                        form.pure-form.pure-form-stacked.pure-g
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='姓氏').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='名字')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='办公室电话').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#email(type='text' placeholder='手机号码')
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='email' placeholder='电邮').half
                            .pure-u-1.pure-u-md-1-2
                                input.inputbox#name(type='text' placeholder='职位')
                            .pure-u-1
                                input.inputbox#name(type='text' placeholder='地址')
                    
                    .pure-u-1.buttonwrap.alr
                        submit.pure-button.pure-button-primary(href='apply.html') 继续

        //-第四步驟
        .statement
            .title
                h2 APRIC 亚太轨道创新联盟 – 会员申请表格2020
        .pure-g
            .decoline.tall.pure-u-1

        .statement
            .container
                .pure-g
                    .title-bar.pure-u-1 会员活动(请选择所有适合者) 
                    .text-box.pure-u-1
                        .pure-g
                            .pure-controls.pure-u-1.pure-u-lg-1-8 技术专业
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-1')
                                        input#member-activity-1(type='checkbox')
                                        |  政策
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-2')
                                        input#member-activity-2(type='checkbox')
                                        |  规划
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-3')
                                        input#member-activity-3(type='checkbox')
                                        |  车辆零部件和系统
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-4')
                                        input#member-activity-4(type='checkbox')
                                        |  维护
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-5')
                                        input#member-activity-5(type='checkbox')
                                        |  基础建设与建造
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-6')
                                        input#member-activity-6(type='checkbox')
                                        |  基础建设与建造
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-7')
                                        input#member-activity-7(type='checkbox')
                                        |  政策
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-8')
                                        input#member-activity-8(type='checkbox')
                                        |  规划
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-9')
                                        input#member-activity-9(type='checkbox')
                                        |  车辆零部件和系统
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-10')
                                        input#member-activity-10(type='checkbox')
                                        |  维护
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-11')
                                        input#member-activity-11(type='checkbox')
                                        |  基础建设与建造
                                        span.checkmark
                                span.pure-u-1.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-12')
                                        input#member-activity-12(type='checkbox')
                                        |  其他
                                        input.inputbox.elseblank#else01(type='text' placeholder='請註明')
                                        span.checkmark
                            hr            
                            .pure-controls.pure-u-1.pure-u-lg-1-8 创新实践
                            span.pure-u-1.pure-u-lg-7-8
                                    label
                                        input.inputbox.noteblank(type='text' placeholder='请注明创新技术的实践明细')
                            hr
                            .pure-controls.pure-u-1.pure-u-lg-1-8 地域应用
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-13')
                                        input#member-activity-13(type='checkbox')
                                        |  全球
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-14')
                                        input#member-activity-14(type='checkbox')
                                        |  原型建立
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-15')
                                        input#member-activity-15(type='checkbox')
                                        |  北亚洲与东北亚洲(雨雪气候)
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-16')
                                        input#member-activity-16(type='checkbox')
                                        |  东南亚(热带气候)
                                        span.checkmark
                            hr            
                            .pure-controls.pure-u-1.pure-u-lg-1-8 附属研究院校
                            span.pure-u-1.pure-u-lg-7-8
                                    label
                                        input.inputbox.noteblank(type='text' placeholder='请注明所属科研机构')
                            hr
                            .pure-controls.pure-u-1.pure-u-lg-1-8 创新阶段
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-17')
                                        input#member-activity-17(type='checkbox')
                                        |  实验室内科研
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-18')
                                        input#member-activity-18(type='checkbox')
                                        |  原型建立
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-19')
                                        input#member-activity-19(type='checkbox')
                                        |  商业落地可推出市场
                                        span.checkmark
                            hr
                            .pure-controls.pure-u-1.pure-u-lg-1-8 活动偏好
                            .pure-u-1.radio-box.pure-u-lg-7-8.pure-g 
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-20')
                                        input#member-activity-20(type='checkbox')
                                        |  考察团
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-21')
                                        input#member-activity-21(type='checkbox')
                                        |  技术交流会
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-22')
                                        input#member-activity-22(type='checkbox')
                                        |  大会
                                        span.checkmark
                                span.pure-u-1-2.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-23')
                                        input#member-activity-23(type='checkbox')
                                        |  展览
                                        span.checkmark
                                span.pure-u-1.pure-u-md-1-3
                                    label.pure-radio(for='member-activity-24')
                                        input#member-activity-24(type='checkbox')
                                        |  其他
                                        input.inputbox.elseblank#else01(type='text' placeholder='請註明')
                                        span.checkmark
                               
                    .pure-u-1.buttonwrap.alr
                        submit.pure-button.pure-button-primary#finalBtn(href='#') 完成
                        .finalnote 通知：APRIC 亚太轨道创新联盟秘书处将通知阁下会员申请结果，并发出会费缴费通知书。