extends layout/_layout.pug

block content
  - var title = "联盟活动";
  - var text = " ";
  include includes/component/_splash.pug
  .layout__content
    include includes/component/_alliance_in.pug
    include includes/component/_footer.pug