extends layout/_layout.pug

block content
  - var title = "Events";
  - var text = " ";
  include includes/component/_splash_eng.pug
  .layout__content
    include includes/component/_alliance_in_1_eng.pug
    include includes/component/_footer_eng.pug