extends layout/_layout.pug

block content
  - var title = "Advancing innovations<br>for urban railway<br>in Asia-Pacific";
  include includes/component/_splash_eng.pug
  a(href="joinus_eng.html").joinbutton Join Us
  .layout__content
    include includes/component/_content_eng.pug
    include includes/component/_footer_eng.pug