extends layout/_layout.pug

block content
  - var title = "Join APRIC";
  - var text = " ";
  include includes/component/_splash_eng.pug
  .layout__content
    include includes/component/_join-1_eng.pug
    //- include includes/component/_join-step-1_eng.pug
    include includes/component/_footer_eng.pug