extends layout/_layout.pug

block content
  - var title = "加入会员";
  - var text = " ";
  include includes/component/_splash.pug
  .layout__content
    include includes/component/_join-1.pug
    include includes/component/_footer.pug
      